* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
}


.navbar nav {
    width: 100%;
    padding: 18px 30px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1b1b1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.navbar nav .left img {
    width: 120px;
}


.navbar nav .right {
    display: flex;
    align-items: center;
    gap: 30px;
}


.navbar nav .right .links ul {
    list-style: none;
    display: flex;
    gap: 18px;
}

.navbar nav .right .links ul li a {
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    transition: all 0.3s ease;
}


.navbar nav .right .links ul li a:hover {
    background-color: #0a2a43; 
    box-shadow: 0 4px 10px rgba(10, 42, 67, 0.4);
}


.navbar nav .right .links ul li a.active {
    background-color: #123c5a;
}


.navbar nav .right .img img {
    width: 28px;
    cursor: pointer;
}


nav .right .img {
    width: 40px;
    height: 40px;
}


.div1 {


    width: 100%;
    height: 100vh;

    background-image: url("Images/BackgroundImage_02.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding-left: 60px;


}

.div1 h1 {
    color: white;
    font-size: 64px;
    margin-bottom: 25px;


}

.div1 h3 {
    color: white;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 25px;

}

.btn {
    background-color: rgb(210, 246, 7);
    border: none;
    padding: 10px 18px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;

}

.btn a:hover {
    background-color: rgb(210, 246, 7);
    border: none;
    padding: 10px 18px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;

}




.div2 {


    width: 100%;
    height: 100vh;

    background-image: url("ImageS/BackgroundImage_03.png  ");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.div2 h2 {
    color: white;
    text-align: center;
    font-size: 35px;
    max-width: 800px;
    line-height: 1.5;
    margin-left: 25px;
}


.Features {
    background: #1b1b1b;
    display: flex;
    gap: 50px;
    padding: 25px;
}


.Features .box {
    background: #fbd7a5;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}


.Features .box .top {
    display: flex;
    justify-content: flex-end;
}

.Features .box .top img {
    width: 25px;
    height: 25px;
}


.Features .box .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Features .box .bottom h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: center;
}


.Features .box:hover {
    transform: translateY(-8px);
    transition: 0.3s ease;
}




.footer {
    background: #d6f400;
    width: 100%;
    padding: 25px 100px;
    display: flex;
    flex-direction: column;
}


.footer .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.footer .top .left .down {
    display: flex;
    flex-direction: row;
    width: 25px;
    height: 25px;
    gap: 15px;

}

.footer .top .right {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.footer .top .right ul h3 {
    font-size: 25px;
}

.footer .top .right ul li a {
    text-decoration: none;
}

.footer .bottom {
    justify-items: center;
    padding: 15px 5px;
}