* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
}


section nav {
    width: 100%;
    padding: 20px 20px;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section nav .left {
    display: flex;
    flex-direction: row;

}

section nav .right {
    display: flex;
    flex-direction: row;
    gap: 30px;

}

section nav .right .links ul {

    display: flex;
    flex-direction: row;
    gap: 15px;

}

section nav .right .links ul li a {

    text-decoration: none;
    border: 1px solid blanchedalmond;
    border-radius: 25px;
    color: white;

}

section nav .right .links ul li a:hover {

    text-decoration: none;
    border: 1px solid rgb(2, 44, 70);
    border-radius: 25px;
    color: rgb(255, 255, 255);

}

nav .right .img {
    width: 40px;
    height: 40px;
}


.div1 {


    width: 100%;
    height: 100vh;

    background-image: url("../image/BackgroundImage_02.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding-left: 60px;


}

.div1 h1 {
    color: white;
    font-size: 64px;
    margin-bottom: 25px;


}

.div1 h3 {
    color: white;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 25px;

}

.btn {
    background-color: rgb(210, 246, 7);
    border: none;
    padding: 10px 18px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;

}

.btn a:hover {
    background-color: rgb(210, 246, 7);
    border: none;
    padding: 10px 18px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;

}




.div2 {


    width: 100%;
    height: 100vh;

    background-image: url("../image/BackgroundImage_03.png  ");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.div2 h2 {
    color: white;
    text-align: center;
    font-size: 35px;
    max-width: 800px;
    line-height: 1.5;
    margin-left: 25px;
}


.Features {
    width: auto;
    height: auto;
    background: #1b1b1b;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 15px 25px;
}

.Features .box {
    display: flex;
    flex-direction: column;
    background: white;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
}

.Features .box .top  img{
    width: 25px;
    height: 25px;
    justify-content: right;

  
}

.Features .box .bottom {
   align-items: center;
   align-content: center;
   font-family: 'Courier New', Courier;
   font-size: 30px;

}

.Features .box .top  img{
    width: 25px;
    height: 25px;
    justify-content: right;

  
}

.Features .box .bottom {
   align-items: center;
   align-content: center;
   font-family: 'Courier New', Courier;
   font-size: 30px;

}

.Features .box .top  img{
    width: 25px;
    height: 25px;
    justify-content: right;

  
}

.Features .box .bottom {
   align-items: center;
   align-content: center;
   font-family: 'Courier New', Courier;
   font-size: 30px;

}

.Features .box .top  img{
    width: 25px;
    height: 25px;
    justify-content: right;

  
}

.Features .box .bottom {
   align-items: center;
   align-content: center;
   font-family: 'Courier New', Courier;
   font-size: 30px;

}

.footer {
    background: #d6f400;
    width: 100%;
    padding: 25px 100px;
    display: flex;
    flex-direction: column;
}


.footer .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.footer .top .left .down {
    display: flex;
    flex-direction: row;
    width: 25px;
    height: 25px;
    gap: 15px;

}

.footer .top .right {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.footer .top .right ul h3 {
    font-size: 25px;
}

.footer .top .right ul li a {
    text-decoration: none;
}

.footer .bottom {
    justify-items: center;
    padding: 15px 5px;
}