@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #c7f717;
  --black-color: #000000;
  --white-color: #ffffff;
  --dark-gray-color: #787878;
  --light-gray-color: #bcbcbc;
  --font-family: "Poppins", sans-serif;
}

/* Initial hidden state */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.7s ease,
    transform 0.7s ease;
}

/* Visible state */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: var(--white-color);
}

h1 {
  font-size: 85px;
  line-height: 100%;
  font-weight: 600;
}
h2 {
  font-size: 40px;
  line-height: 100%;
  font-weight: 600;
}
h3 {
  font-size: 36px;
  line-height: 100%;
  font-weight: 600;
}
h4 {
  font-size: 32px;
  line-height: 100%;
  font-weight: 500;
}
h5 {
  font-size: 20px;
  font-weight: 500;
}
h6 {
  font-size: 16px;
  font-weight: 500;
}
.spanh2 {
  color: var(--dark-gray-color);
}
#nav-links.active {
  background-color: var(--black-color);
  color: var(--white-color);
}
header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 1000;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 5px 20px;
  background-color: transparent;
  position: fixed;
  z-index: 100;
}
header nav .left a img {
  width: 200px;
  height: auto;
  cursor: pointer;
}
header nav .right {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
}

header nav .right .div1 ul {
  list-style: none;
  display: flex;
  gap: 60px;
}

header nav .right .div2 {
  width: 40px;
  height: 40px;
  background-color: var(--black-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .right .div2:hover {
  scale: 1.1;
}

header nav .right .div2 a img {
  width: 20px;
  height: 20px;
  padding-top: 3px;
  padding-right: 3px;
  cursor: pointer;
}

header nav .right ul li a {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border: 1px solid var(--black-color);
  padding: 8px 15px;
  border-radius: 40px;
  transition: all 0.3s ease;
}

header nav .right ul li a:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.hamburger span {
  width: 28px;
  height: 3px;
  background-color: var(--black-color);
  border-radius: 2px;
  transition: all 0.4s ease;
}
.hero-area {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../Images/CoachesHeroArea.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-area .content-group {
  width: 100%;
  gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-area .content-group h1 {
  text-align: center;
  color: var(--black-color);
  margin-bottom: -130px;
}

.our-coaches {
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  /* padding: 5px 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-coaches .content-group {
  width: 95%;
  gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our-coaches .content-group .top-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-coaches .content-group .top-section a {
  display: inline-block;
  padding: 10px 25px;
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 40px;
  transition: all 0.3s ease;
  text-align: center;
}
.our-coaches .content-group .top-section img {
  margin-bottom: -5px;
}
.our-coaches .content-group .bottom-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.our-coaches .content-group .bottom-section .coach-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.our-coaches .content-group .bottom-section .coach-card:nth-child(1) {
  width: 295px;
  height: 385px;
  border-radius: 16px;
  background-image: url("../Images/Coach1.png");
}
.our-coaches .content-group .bottom-section .coach-card:nth-child(2) {
  width: 295px;
  height: 385px;
  border-radius: 16px;
  background-image: url("../Images/Coach2.png");
}
.our-coaches .content-group .bottom-section .coach-card:nth-child(3) {
  width: 295px;
  height: 385px;
  border-radius: 16px;
  background-image: url("../Images/Coach3.png");
}
.our-coaches .content-group .bottom-section .coach-card:nth-child(4) {
  width: 295px;
  height: 385px;
  border-radius: 16px;
  background-image: url("../Images/Coach4.png");
}
.our-coaches .content-group .bottom-section .coach-card .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
}
.our-coaches .content-group .bottom-section .coach-card .top .left a {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid var(--white-color);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 600;
}
.our-coaches .content-group .bottom-section .coach-card .top .left a:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}
.our-coaches .content-group .bottom-section .coach-card .top .right a {
  width: 40px;
  height: 40px;
  background-color: var(--white-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-coaches .content-group .bottom-section .coach-card .top .right a:hover {
  background-color: var(--primary-color);
}
.our-coaches .content-group .bottom-section .coach-card .bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
}
.our-coaches .content-group .bottom-section .coach-card .bottom h4 {
  color: var(--white-color);
  margin-bottom: -5px;
}
.our-coaches .content-group .bottom-section .coach-card .bottom h4:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.video-section {
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
  /* padding-left: 20px;
  padding-right: 20px; */
  /* padding: 5px 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-section .content-group {
  width: 100%;
  gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0px;
}
.video-section .content-group video {
  width: 100%;
  height: auto;
}
.newsletter-section {
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter-section .content-group {
  width: 95%;
  gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../Images/NewsletterImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 100px 0px;
}
.newsletter-section .content-group .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsletter-section .content-group .top h2 {
  color: var(--white-color);
  text-align: center;
}
.newsletter-section .content-group .top h5 {
  margin-top: -20px;
  color: var(--white-color);
  text-align: center;
}
.newsletter-section .content-group .bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.newsletter-section .content-group .bottom form {
  gap: 20px;
}
.newsletter-section .content-group .bottom form .emailinput {
  border: none;
  padding: 15px 30px;
  width: 400px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  outline: none;
}
.newsletter-section .content-group .bottom form .Subscribebtn {
  border: none;
  padding: 15px 30px;
  background-color: var(--primary-color);
  color: var(--black-color);
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.footer-section {
  position: relative;
  padding-top: 50px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  /* padding: 5px 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}
.footer-section .content-group {
  width: 95%;
  gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.footer-section .content-group .top-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-section .content-group .top-section .left-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.footer-section .content-group .top-section .left-div .logo img {
  width: 200px;
  height: auto;
  margin-bottom: 15px;
}
.footer-section .content-group .top-section .left-div .social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-section .content-group .top-section .left-div .social-icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid var(--black-color);
  border-radius: 50%;
}
.footer-section
  .content-group
  .top-section
  .left-div
  .social-icons
  .icon:hover {
  scale: 1.1;
}
.footer-section .content-group .top-section .left-div .social-icons .icon img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 5px;
  padding-left: 15px;
}
.footer-section
  .content-group
  .top-section
  .left-div
  .social-icons
  .icon
  img:hover {
  scale: 1.1;
}
.footer-section .content-group .top-section .right-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
}
.footer-section .content-group .top-section .right-div .links {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 0px;
}
.footer-section .content-group .top-section .right-div .links h4 {
  line-height: 100%;
  margin-top: -10px;
  margin-bottom: -20px;
}
.footer-section .content-group .top-section .right-div .links a {
  text-decoration: none;
  color: var(--black-color);
}
.footer-section .content-group .top-section .right-div .links a:hover {
  scale: 1.05;
}
.footer-section .content-group .top-section .right-div .links a h5 {
  line-height: 100%;
  margin-bottom: -20px;
  cursor: pointer;
}
.footer-section .content-group .bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-section .content-group .bottom-section h6 {
  text-align: center;
}

/* Responsive Design */

/* Tablet Devices */
@media (max-width: 1024px) {
  .hero-area {
    height: 50vh;
  }

  .our-coaches {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .our-coaches .content-group .bottom-section .coach-card:nth-child(1) {
    width: 200px;
    height: 325px;
    border-radius: 16px;
    background-image: url("../Images/Coach1.png");
  }
  .our-coaches .content-group .bottom-section .coach-card:nth-child(2) {
    width: 200px;
    height: 325px;
    border-radius: 16px;
    background-image: url("../Images/Coach2.png");
  }
  .our-coaches .content-group .bottom-section .coach-card:nth-child(3) {
    width: 200px;
    height: 325px;
    border-radius: 16px;
    background-image: url("../Images/Coach3.png");
  }
  .our-coaches .content-group .bottom-section .coach-card:nth-child(4) {
    width: 200px;
    height: 325px;
    border-radius: 16px;
    background-image: url("../Images/Coach4.png");
  }
  .video-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .video-section .content-group video {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .footer-section .content-group .top-section .right-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
  }
}

/* Mobile Devices */
@media (max-width: 768px) {
  h1 {
    font-size: 35px;
    line-height: 100%;
    font-weight: 600;
  }
  h2 {
    font-size: 22px;
    line-height: 100%;
    font-weight: 600;
  }
  h3 {
    font-size: 20px;
    line-height: 100%;
    font-weight: 600;
  }
  h4 {
    font-size: 18px;
    line-height: 100%;
    font-weight: 500;
  }
  h5 {
    font-size: 20px;
    font-weight: 500;
  }
  .hamburger {
    display: flex;
  }
  header nav {
    width: 90%;
  }
  header nav .right {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: var(--primary-color);
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0;
    display: none;
  }

  header nav .right.active {
    display: flex;
  }

  header nav .right .div1 ul {
    flex-direction: column;
    gap: 25px;
  }
  header nav .right .div2 {
    margin-top: 20px;
    margin-left: 40px;
  }

  header nav .right ul li a {
    font-size: 18px;
    padding: 10px 22px;
  }
  .hero-area {
    height: 75vh;
  }
  .hero-area .content-group {
    width: 90%;
  }

  .our-coaches .content-group {
    width: 95%;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .our-coaches .content-group .top-section a {
    font-size: 16px;
    padding: 10px 15px;
  }
  .our-coaches .content-group .bottom-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
  }
  .our-coaches .content-group .bottom-section .coach-card:nth-child(1) {
    width: 100%;
    height: 400px;
    border-radius: 16px;
    background-image: url("../Images/Coach1.png");
  }
  .our-coaches .content-group .bottom-section .coach-card:nth-child(2) {
    width: 100%;
    height: 400px;
    border-radius: 16px;
    background-image: url("../Images/Coach2.png");
  }
  .our-coaches .content-group .bottom-section .coach-card:nth-child(3) {
    width: 100%;
    height: 400px;
    border-radius: 16px;
    background-image: url("../Images/Coach3.png");
  }
  .our-coaches .content-group .bottom-section .coach-card:nth-child(4) {
    width: 100%;
    height: 400px;
    border-radius: 16px;
    background-image: url("../Images/Coach4.png");
  }
  .video-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .video-section .content-group {
    padding: 20px 0px;
  }
  .video-section .content-group video {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .newsletter-section .content-group {
    padding: 100px 20px;
  }
  .newsletter-section .content-group .top h5 {
    display: none;
  }
  .newsletter-section .content-group .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .newsletter-section .content-group .bottom form .emailinput {
    border: none;
    padding: 15px 30px;
    width: 200px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    margin-bottom: 10px;
  }
  .newsletter-section .content-group .bottom form .Subscribebtn {
    border: none;
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: var(--black-color);
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .footer-section .content-group .top-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }
  .footer-section .content-group .top-section .left-div {
    margin-bottom: 50px;
  }
  .footer-section .content-group .top-section .right-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
  }
}
