@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #c7f717;
  --black-color: #000000;
  --white-color: #ffffff;
  --dark-gray-color: #787878;
  --light-gray-color: #bcbcbc;
  --font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: var(--white-color);
}

h1 {
  font-size: 85px;
  line-height: 100%;
  font-weight: 600;
}
h4 {
  font-size: 32px;
  line-height: 100%;
  font-weight: 500;
}
h5 {
  font-size: 20px;
  font-weight: 500;
}
header{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
 
  position: fixed;
  top: 0;
  z-index: 1000;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 5px 20px;
  background-color: transparent;
  position: fixed;
  z-index: 100;
}

header nav .right {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
}

header nav .right .div1 ul {
  list-style: none;
  display: flex;
  gap: 60px;
}

header nav .right .div2 {
  width: 40px;
  height: 40px;
  background-color: var(--black-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .right .div2:hover {
  scale: 1.1;
}

header nav .right .div2 a img {
  width: 20px;
  height: 20px;
  padding-top: 3px;
  padding-right: 3px;
  cursor: pointer;
}

header nav .right ul li a {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border: 1px solid var(--black-color);
  padding: 8px 15px;
  border-radius: 40px;
  transition: all 0.3s ease;
}

header nav .right ul li a:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background-color: var(--black-color);
  border-radius: 2px;
}
.hero-area {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/Hero_Section.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-area .content-group {
  width: 100%;
  gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-area .content-group h1 {
  text-align: center;
  color: var(--white-color);
  margin-bottom: -20px;
}
.hero-area .content-group h4 {
  text-align: center;
  color: var(--white-color);
}
.hero-area .content-group a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 40px;
  transition: all 0.3s ease;
  text-align: center;
}
.hero-area .content-group a:hover {
  background-color: var(--primary-color);
  color: var(--black-color);
}

/* Responsive Design */
@media (max-width: 768px) {
  h1 {
    font-size: 35px;
    line-height: 100%;
    font-weight: 600;
  }
  h4 {
    font-size: 20px;
    line-height: 100%;
    font-weight: 500;
  }
  h5 {
    font-size: 20px;
    font-weight: 500;
  }
  .hamburger {
    display: flex;
  }
  header nav {
    width: 90%;
  }
  header nav .right {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: var(--primary-color);
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0;
    display: none;
  }

  header nav .right.active {
    display: flex;
  }

  header nav .right .div1 ul {
    flex-direction: column;
    gap: 25px;
  }
  header nav .right .div2 {
    margin-top: 20px;
    margin-left: 40px;
  }

  header nav .right ul li a {
    font-size: 18px;
    padding: 10px 22px;
  }
  .hero-area {
    height: 75vh;
  }
  .hero-area .content-group {
    width: 90%;
  }
}
