@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #c7f717;
  --black-color: #000000;
  --white-color: #ffffff;
  --dark-gray-color: #787878;
  --light-gray-color: #bcbcbc;
  --font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: var(--white-color);
}

h1 {
  font-size: 85px;
  line-height: 100%;
  font-weight: 600;
}
h2 {
  font-size: 40px;
  line-height: 100%;
  font-weight: 600;
}
h3 {
  font-size: 36px;
  line-height: 100%;
  font-weight: 600;
}
h4 {
  font-size: 32px;
  line-height: 100%;
  font-weight: 500;
}
h5 {
  font-size: 20px;
  font-weight: 500;
}
.spanh2 {
  color: var(--dark-gray-color);
}
header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 1000;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 5px 20px;
  background-color: transparent;
  position: fixed;
  z-index: 100;
}

header nav .right {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
}

header nav .right .div1 ul {
  list-style: none;
  display: flex;
  gap: 60px;
}

header nav .right .div2 {
  width: 40px;
  height: 40px;
  background-color: var(--black-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .right .div2:hover {
  scale: 1.1;
}

header nav .right .div2 a img {
  width: 20px;
  height: 20px;
  padding-top: 3px;
  padding-right: 3px;
  cursor: pointer;
}

header nav .right ul li a {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border: 1px solid var(--black-color);
  padding: 8px 15px;
  border-radius: 40px;
  transition: all 0.3s ease;
}

header nav .right ul li a:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background-color: var(--black-color);
  border-radius: 2px;
}
.hero-area {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/Hero_Section.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-area .content-group {
  width: 100%;
  gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-area .content-group h1 {
  text-align: center;
  color: var(--white-color);
  margin-bottom: -20px;
}
.hero-area .content-group h4 {
  text-align: center;
  color: var(--white-color);
}
.hero-area .content-group a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 40px;
  transition: all 0.3s ease;
  text-align: center;
}
.hero-area .content-group a:hover {
  background-color: var(--primary-color);
  color: var(--black-color);
}
.about-section {
  position: relative;
  padding: 100px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section .content-group {
  width: 60%;
  gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-section .content-group h2 {
  text-align: center;
  color: var(--black-color);
  margin-bottom: 20px;
}
.our-sport-programs {
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  /* padding: 5px 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-sport-programs .content-group {
  width: 95%;
  gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our-sport-programs .content-group .top-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-sport-programs .content-group .top-section a {
  display: inline-block;
  padding: 10px 25px;
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 40px;
  transition: all 0.3s ease;
  text-align: center;
}
.our-sport-programs .content-group .top-section img {
  margin-bottom: -5px;
}
.our-sport-programs .content-group .bottom-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.our-sport-programs .content-group .bottom-section .sport-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.our-sport-programs .content-group .bottom-section .sport-card:nth-child(1) {
  width: 295px;
  height: 385px;
  border-radius: 16px;
  background-image: url("../images/Card1\ Image.png");
}
.our-sport-programs .content-group .bottom-section .sport-card:nth-child(2) {
  width: 295px;
  height: 385px;
  border-radius: 16px;
  background-image: url("../images/Card2\ Image.png");
}
.our-sport-programs .content-group .bottom-section .sport-card:nth-child(3) {
  width: 295px;
  height: 385px;
  border-radius: 16px;
  background-image: url("../images/Card3\ Image.png");
}
.our-sport-programs .content-group .bottom-section .sport-card:nth-child(4) {
  width: 295px;
  height: 385px;
  border-radius: 16px;
  background-image: url("../images/Card4\ Image.png");
}
.our-sport-programs .content-group .bottom-section .sport-card .top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
}
.our-sport-programs .content-group .bottom-section .sport-card .top a {
  width: 40px;
  height: 40px;
  background-color: var(--white-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-sport-programs .content-group .bottom-section .sport-card .top a:hover {
  background-color: var(--primary-color);
}
.our-sport-programs .content-group .bottom-section .sport-card .bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
}
.our-sport-programs .content-group .bottom-section .sport-card .bottom a {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid var(--white-color);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 600;
}
.our-sport-programs .content-group .bottom-section .sport-card .bottom a:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}

.why-choose-us {
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  /* padding: 5px 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-choose-us .content-group {
  width: 95%;
  gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.why-choose-us .content-group .top-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.why-choose-us .content-group .top-section h3 {
  text-align: center;
  font-weight: 500;
}
.why-choose-us .content-group .bottom-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}
.why-choose-us .content-group .bottom-section .fact-card {
  text-align: center;
}
.why-choose-us .content-group .bottom-section .fact-card h5 {
  margin-top: -45px;
}

/* Responsive Design */

/* Tablet Devices */
@media (max-width: 1024px) {
  .hero-area {
    height: 85vh;
  }
  .about-section .content-group {
    width: 80%;
  }
  .our-sport-programs .content-group .bottom-section .sport-card:nth-child(1) {
    width: 200px;
    height: 325px;
    border-radius: 16px;
    background-image: url("../images/Card1\ Image.png");
  }
  .our-sport-programs .content-group .bottom-section .sport-card:nth-child(2) {
    width: 200px;
    height: 325px;
    border-radius: 16px;
    background-image: url("../images/Card2\ Image.png");
  }
  .our-sport-programs .content-group .bottom-section .sport-card:nth-child(3) {
    width: 200px;
    height: 325px;
    border-radius: 16px;
    background-image: url("../images/Card3\ Image.png");
  }
  .our-sport-programs .content-group .bottom-section .sport-card:nth-child(4) {
    width: 200px;
    height: 325px;
    border-radius: 16px;
    background-image: url("../images/Card4\ Image.png");
  }
  .why-choose-us .content-group .bottom-section .fact-card h1 {
    font-size: 65px;
  }
}

/* Mobile Devices */
@media (max-width: 768px) {
  h1 {
    font-size: 35px;
    line-height: 100%;
    font-weight: 600;
  }
  h2 {
    font-size: 22px;
    line-height: 100%;
    font-weight: 600;
  }
  h3 {
    font-size: 20px;
    line-height: 100%;
    font-weight: 600;
  }
  h4 {
    font-size: 18px;
    line-height: 100%;
    font-weight: 500;
  }
  h5 {
    font-size: 20px;
    font-weight: 500;
  }
  .hamburger {
    display: flex;
  }
  header nav {
    width: 90%;
  }
  header nav .right {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background-color: var(--primary-color);
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0;
    display: none;
  }

  header nav .right.active {
    display: flex;
  }

  header nav .right .div1 ul {
    flex-direction: column;
    gap: 25px;
  }
  header nav .right .div2 {
    margin-top: 20px;
    margin-left: 40px;
  }

  header nav .right ul li a {
    font-size: 18px;
    padding: 10px 22px;
  }
  .hero-area {
    height: 75vh;
  }
  .hero-area .content-group {
    width: 90%;
  }
  .about-section {
    padding: 70px 20px;
  }
  .our-sport-programs .content-group {
    width: 95%;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .our-sport-programs .content-group .top-section a {
    font-size: 16px;
    padding: 10px 15px;
  }
  .our-sport-programs .content-group .bottom-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
  }
  .our-sport-programs .content-group .bottom-section .sport-card:nth-child(1) {
    width: 100%;
    height: 400px;
    border-radius: 16px;
    background-image: url("../images/Card1\ Image.png");
  }
  .our-sport-programs .content-group .bottom-section .sport-card:nth-child(2) {
    width: 100%;
    height: 400px;
    border-radius: 16px;
    background-image: url("../images/Card2\ Image.png");
  }
  .our-sport-programs .content-group .bottom-section .sport-card:nth-child(3) {
    width: 100%;
    height: 400px;
    border-radius: 16px;
    background-image: url("../images/Card3\ Image.png");
  }
  .our-sport-programs .content-group .bottom-section .sport-card:nth-child(4) {
    width: 100%;
    height: 400px;
    border-radius: 16px;
    background-image: url("../images/Card4\ Image.png");
  }
  .why-choose-us .content-group .bottom-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
  }
  .why-choose-us .content-group .bottom-section .fact-card h5 {
    margin-top: -20px;
  }
}
