.div{
        margin: auto;
        width: 380px;
        height: 400px ;
        padding: 28px;
        background-color:white;

      }
      .signup{
        font-size: 40px;
        font-weight: bold;
        font-family: sans-serif;
      
      }
    
      
      .input  input{
        width:100%;
        height: 44px;
        border-radius: 8px;
        outline: none;
        margin-bottom: 14px;
      }
      .text{
        font-family: sans-serif ;
        font-size: 15px;
      }
      .label{
        font-family: sans-serif;
        color: #555;
        font-weight: bold;
      }
      .options{
        justify-content: space-between;
        display: flex;
        
      }
        .signup-button button{
        width: 100%; 
        height: 44px;
        border-radius: 25px;
        background-color: black;
        color: white;
        border: none;
        margin-top: 14px;
        cursor: pointer;
      }
      .continue-button input{
        width: 100%;
        height: 44px;
        border-radius: 25px;
        color: #555;
        font-family: sans-serif;
        margin-top: 14px;
        font-weight: bold;
        cursor: pointer;
      }
      .or{
        text-align: center;
        font-family: sans-serif;
        color: #555;
        margin-top: 10px;
      }

 
